/* Styles for the status text and user email */
.status .status-text {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.status .user-email {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    opacity: 0.7;
}

/* Styles for the status divs */
.status {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.private {
    background-color: #f1f1f1;
}

/* Styles for the welcome message and logout button */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    overflow: hidden;
}

.header h1 {
    margin: 0;
    float: left;
}

.header form {
    float: right;
}

/* Styles for the new post form */
.new-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.new-post label {
    display: block;
    margin-bottom: 5px;
}

.new-post input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.new-post input[type="checkbox"] {
    margin-right: 5px;
}

.new-post input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Styles for the content container */
.content-container {
    overflow: hidden;
}

/* Style for left and right columns */
.left-column {
    width: 40%;
    float: left;
}

.right-column {
    width: 40%;
    float: right;
}

/*!* Styles for the footer *!*/
/*.footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*    font-size: 12px;*/
/*}*/

